<h1>Editing Annocement</h1>

<%= render 'form', annocement: @annocement %>

<%= link_to 'Show', [@sport, @annocement], class:"btn btn-primary" %> 
<%= link_to 'Back', sport_annocements_path(@sport), class:"btn btn-dark" %>
