<div class="card">
  <div class="card-header">
    <h4>Offers List</h4>
    <%= render 'filter'%>
    <br>
    <div class="card-body">
      <table class="table table-bordered table-striped" id="offer_list_table"> 
      </table>    
    </div>
    <%= link_to 'New offers', new_offer_path, class: "btn btn-dark" %>
    </br>
    </br>
    <%= render 'offerauditpopup'%>
  </div>
</div>
<br>