<div class="card">
  <div class="card-header">
    <h4>Offers List</h4>
    <div class="card-body">
      <table class="table table-bordered table-striped" id=""> 
      </table>    
    </div>
    <%= link_to 'New offers', new_offers_path, class: "btn btn-dark" %>
  </div>
</div>
<br>