<h1>Editing Playerdetail</h1>

<%= render 'form', playerdetail: @playerdetail %>

<%= link_to 'Show', @playerdetail, class:"btn btn-primary"%>
<%= link_to 'Back', playerdetails_path, class:"btn btn-dark" %>
