<h1>Editing Playerdetail</h1>

<%= render 'form', playerdetail: @playerdetail %>
<br/>
<%= link_to 'Show', [@sport, @playerdetail], class:"btn btn-primary"%>
<%= link_to 'Back', sport_playerdetails_path(@sport), class:"btn btn-dark" %>
